<div class="card my-2" >
  <div class="card-header">
    Item {{forloop.counter}}
  </div>
  <div class="card-body">
    <h5 class="card-title" style ="font-family: courier; font-weight: bold;">{{item.question}}</h5>
    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->

    {%if item.image%}
    <div class="container">
      <img src="{{item.image.url}}" class="img-fluid" alt="Responsive image" height="300px">
    </div>
    {% endif%}
<div class="container mb-4" style ="font-family: courier; font-weight: normal;">
  {%for choice in item.choices.all %}


  {%if choice.correct%}
  <span class="correct_{{item.pk}}">
    {%if forloop.counter == 1%}A. {%endif%}
    {%if forloop.counter == 2%}B. {%endif%}
    {%if forloop.counter == 3%}C. {%endif%}
    {%if forloop.counter == 4%}D. {%endif%}


    {{choice.content | safe}}    </span><span class="badge badge-success" style="opacity: 1;" id="correct_badge_{{item.pk}}">Correct</span>
    {%else%}
    <span class="wrong">
    {%if forloop.counter == 1%}A. {%endif%}
    {%if forloop.counter == 2%}B. {%endif%}
    {%if forloop.counter == 3%}C. {%endif%}
    {%if forloop.counter == 4%}D. {%endif%}
    {{choice.content | safe}}</span>
    {%endif%}


    {%if choice.image %}
    <div class="container">
      <img src="{{choice.image.url}}" class="img-fluid" alt="Responsive image" height="300px">
    </div>
    {% endif%}
    <br>

{%endfor%}
</div>


  <div class="collapse" id="explanation_{{item.pk}}">
    <div class="card card-body">
      {%if item.explanation%}
      <p>{{item.explanation | safe}}</p>
      {%else%}
      <p>No answer explanation available for this question.</p>
      {%endif%}

    </div>

    </div>

  </div>

  <script type="text/javascript">
    $('.wrong').click(function() {
      $(this).fadeTo('slow',0.3);
    })

    $('.correct_{{item.pk}}').click(function(){
        $('#explanation_{{item.pk}}').collapse('show');
        $('#correct_badge_{{item.pk}}').fadeTo('slow', 1);
    })

  </script>

</div>
