<div class="card my-2">
  <h5 class="card-header">Add Item</h5>

  <div class="card-body">
  <div class="form-group">
    <textarea name= "question" class="form-control" id="question" rows="3" placeholder="Question"></textarea>
  </div>

  <hr>

<div class="container">
<input class="form-check-input ch_custom" type="checkbox" name="choice_a_correct" id="choice_1_correct" checked>
<textarea name="choice_a" class="form-control" id="choice_1" rows="1" placeholder="Choice 1"></textarea>
</div>

<div class="container">
<input class="form-check-input ch_custom" type="checkbox" name="choice_b_correct" id="choice_2_correct">
<textarea name="choice_b" class="form-control" id="choice_2" rows="1" placeholder="Choice 2"></textarea>
</div>

<div class="container">
<input class="form-check-input ch_custom" type="checkbox" name="choice_c_correct" id="choice_3_correct">
<textarea name="choice_c" class="form-control" id="choice_3" rows="1" placeholder="Choice 3"></textarea>
</div>

<div class="container">
<input class="form-check-input ch_custom" type="checkbox" name="choice_d_correct" id="choice_2_correct">
<textarea name="choice_d" class="form-control" id="choice_4" rows="1" placeholder="Choice 4"></textarea>
</div>

<div class="form-group">
  <label for="explanation1"></label>
  <textarea class="form-control" id="explanation1" name="explanation" rows="3" placeholder="Explanation"></textarea>
</div>

  <div class="form-group">
    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#attach_images_id" aria-expanded="false" aria-controls="collapseExample">
      Attach images
    </button>
  </div>

  <div class="collapse" id="attach_images_id">
    <div class="card card-body">

      <div class="form-group">
      <label for="main_image_attach_id">Question Image</label>
      <input name="image" type="file" class="form-control-file" id="main_image_attach_id" accept="image/*">
    </div>

    <div class="form-group">
    <label for="choice_a_image_attach_id">Choice A Image</label>
    <input name="choice_a_image" type="file" class="form-control-file" id="choice_a_image_attach_id" accept="image/*">
  </div>

  <div class="form-group">
  <label for="choice_b_image_attach_id">Choice B Image</label>
  <input name="choice_b_image" type="file" class="form-control-file" id="choice_b_image_attach_id" accept="image/*">
</div>

<div class="form-group">
<label for="choice_c_image_attach_id">Choice C image</label>
<input name="choice_c_image" type="file" class="form-control-file" id="choice_c_image_attach_id" accept="image/*">
</div>

<div class="form-group">
<label for="choice_d_image_attach_id">Choice D image</label>
<input name="choice_d_image" type="file" class="form-control-file" id="choice_d_image_attach_id" accept="image/*">
</div>

    </div>
  </div>


  </div>
</div>
