{% extends 'base.html' %}
{% block content %}

{% load bootstrap4 %}


  <h1>Change Password</h1>
  <form method="POST" class="form">
    {% csrf_token %}
    <div class="form-group">
     <label for="password">Password</label>
     <input type="password" class="form-control" id="password" name='password'>
    </div>

    <div class="form-group">
       <label for="confirmpassword">Confirm Password</label>
       <input type="password" class="form-control" id="confirmpassword" name='confirm_password'>
     </div>

      <button type="submit" class="btn btn-primary">Change Password</button>
  </form>
{% endblock %}
