<div class="tab-pane " id="calendar" role="tabpanel" aria-labelledby="calendar-tab">
  <h2>ECE</h2>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://calendar.google.com/calendar/embed?src=8acboij06ststn4821ur8164m8%40group.calendar.google.com&ctz=Asia%2FManila" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>

  <h2>EE</h2>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://calendar.google.com/calendar/embed?src=rc0cn6q7b43o1odpuqfovjhlmk%40group.calendar.google.com&ctz=Asia%2FManila" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>

</div>
