{%load avatar_tags%}
<div class="tab-pane" id="announcement" role="tabpanel" aria-labelledby="announcement-tab">
    <div class="col">
      {%if user.is_superuser%}
      <a class="btn btn-warning mb-1" href="{%url 'main_app:create_announcement'%}" role="button">
        <svg class="bi bi-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
          <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
        </svg>
      </a>
      {%endif%}


<div class="row">
    <div class="col-lg-3 col-md-12 mb-4">
      <h2>Activities</h2>
      {%for act in activities%}
      <div class="media mb-2">
        {%avatar act.author 30 class="mr-4"%}
        <div class="media-body">
          <small class="text-muted">{{act.timestamp}}</small><br>
          <span class="card-text">{{act.content }}</span>
          <a href="{{act.url}}">More...</a>
        </div>
      </div>
      {%endfor%}
    </div>

    <div class="col-lg-3 col-md-12">
      <h2>Topnotchers</h2>
      {%for list in topnotchers%}
        {%for name in exam_names%}
          {%if forloop.counter == forloop.parentloop.counter%}
          {{name}}
          {%endif%}
        {%endfor%}
        <table class="table table-sm mb-4">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Score</th>
            </tr>
          </thead>
          <tbody>
            {%for score in list%}
            <tr>
              <td>{{score.user.first_name}}, {{score.user.last_name}}</td>
              <td>{{score.score}}</td>
            </tr>
            {%endfor%}
          </tbody>
          </table>
          {%endfor%}
      </div>

    <div class="col-lg-6 col-md-12">
      <h2>Announcements</h2>
        {%for ann in announcements%}
        <div class="media mb-2">
          {%avatar ann.author 30 class="mr-4"%}
          <div class="media-body">
            <h5 class="mt-0">{{ann.title}}</h5>
            <small class="text-muted">by {{ann.author.first_name}}: {{ann.timestamp}}</small><br>
            <span class="card-text">{{ann.content | safe }}</span>
          </div>
        </div>

        {%endfor%}
      </div>


      </div>
    </div>
</div>
