{% extends 'base.html' %}
{% block content %}

<div class="container">

<div class="row my-4">
  <div class="container">
    <h2>Programs Offered</h2>
  </div>
</div>

<div class="row my-4">
  <div class="col-4">
    <a href="{% url 'studentsece_app:create'%}" class="btn btn-primary btn-lg active btn-block" role="button">ECE</a>
  </div>
  <div class="col-4">
    <a href="#" class="btn btn-primary btn-lg active btn-block disabled" role="button" aria-pressed="true">REE</a>
  </div>
  <div class="col-4">
    <a href="#" class="btn btn-primary btn-lg active btn-block disabled" role="button" aria-pressed="true">Tutorial</a>
  </div>
</div>



</div>


{% endblock %}
