{% extends 'base.html' %}
{% block content %}

<div class="container">

  <h1 class="display-4">Welcome To CERTC Online Review</h1>
  <p class="lead">After receiving numerous messages requesting for an online platform to address your need of quality review during this trying time, we have finally made up something that would cater to your needs.</p>
<p>Our Online Review Includes but not limited to the following:</p>
<ol>
  <li>Live “Cloudroom” discussion/lecture via ZOOM streaming.
  *Cloudroom is the name given to our online discussion and chatroom.</li>
  <li>Posting of video tutorials on “Frequently Ask Questions” in our Cloudroom.</li>
  <li>Posting of Downloadable review materials: Handouts, Quizzes, e-books and many more</li>
  <li>Work-From-Home weekly evaluation exams</li>
  <li>Work-From-Home monthly evaluation exams</li>
  <li>Work-From-Home PREBOARD EXAMINATION</li>
  <li>Access to Thousands of MCQ’s in our site (for registered students only)</li>
  <li>Access to Online Coaching Materials (for registered students only)</li>
</ol>
<p>How to register?</p>
<ol>
  <li>Please fill-up the online form properly with your recent and correct contact information.</li>
  <li>When successfully enrolled, an onscreen acknowledgment of your registration will be displayed.</li>
  <li>Wait for the confirmation message which contains your “log in” credentials via your registered messenger or email account within this week.</li>
</ol>

<p>Don’t be left behind…Learn from home now!</p>
<p>Registration is ongoing until May 22,2020</p>
<p>Start of Cloudclasses on May 25,2020.</p>




  <hr class="my-4">

  {% if not user.is_authenticated %}
  <a class="btn btn-primary btn-lg m-1 btn-block" href="{% url 'main_app:enroll' %}" role="button">Request for Enrollment!</a>
  {% endif %}

  <img src="/static/cover_photo_certc_1000p.png" class="img-fluid mt-4" alt="Responsive image">
</div>


{% endblock %}
