{% extends 'base.html' %}
{% block content %}

<h1 class='display-4'>{{user.username}}</h1>

<dl class="row">
  <dt class="col-sm-3">Username</dt>
  <dd class="col-sm-9">{{user.username}}</dd>

  <dt class="col-sm-3">Last Name</dt>
  <dd class="col-sm-9">{{user.last_name}}</dd>

  <dt class="col-sm-3">First Name</dt>
  <dd class="col-sm-9">{{user.first_name}}</dd>

  <dt class="col-sm-3">Flags</dt>
  <dd class="col-sm-9">
    {%if user.is_teacher %}Teacher,{%endif%}
    {%if user.is_student %}Student,{%endif%}
    {%if user.is_ece %}ECE,{%endif%}
    {%if user.is_ee %}EE,{%endif%}
    {%if user.is_premium %}Premium,{%endif%}
  </dd>

  <dt class="col-sm-3">Exams Taken</dt>
  <dd class="col-sm-9">
    {%for answer_sheet in answer_sheets %}
      {{answer_sheet.name}}, {{answer_sheet.date_submitted}}, <strong>{{answer_sheet.score}}</strong>, {%if answer_sheet.first_take%}FIRST TAKE{%endif%} <a class="btn btn-danger btn-sm" href="{%url 'exams_app_2:sheet_delete' answersheetpk=answer_sheet.pk userpk=user.pk%}" role="button">Del</a> <br>
    {%endfor%}
  </dd>

</dl>


{% endblock %}
