{% extends 'main_app/base.html' %}
{% block content %}

{%if danger %}
<div class="alert alert-danger" role="alert">
  {{danger}}
</div>
{%endif%}

{%if message%}
<div class="alert alert-primary" role="alert">
  {{message}}
</div>
{% endif %}

<h1>Create Multiple Choice Question</h1>
<form action="{%url 'create_multiple_choice_question' %}" method="POST">

  <div class="form-group">
    <label for="subtopic">Subtopic</label>
    <select class="form-control" id="subtopic" name = "subtopic">
      <option>Please select a subtopic</option>
      {% for subtopic in subtopics %}
        {% if subtopic == previous_subtopic %}
        <option selected>{{ subtopic }}</option>
        {% else %}
        <option>{{ subtopic }}</option>
        {% endif %}
      {% endfor %}
    </select>
    </div>

    <div class="form-group">
    <label for="question">Question</label>
    <textarea class="form-control" id="question" rows="5" name = "question"></textarea>
    <small id="questionHelp" class="form-text text-muted">The choices will be automatically shuffled.</small>
    </div>

    <button class="btn btn-secondary my-1" type="button" data-toggle="collapse" data-target="#image_input_boxes" aria-expanded="false" aria-controls="collapseExample">
      Insert Images
    </button>

    <a class="btn btn-info" href="https://en.wikipedia.org/wiki/Wikipedia:LaTeX_symbols" target="_blank" role="button">How to add Mathematical Equations</a>

    <div class="collapse" id="image_input_boxes">
      <div class="card card-body">

        <div class="form-group">
        <label for="image">Question Image</label>
        <input type="file" class="form-control-file" id="image">
        </div>

        <div class="form-group">
        <label for="correct_image">Correct Choice Image</label>
        <input type="file" class="form-control-file" id="correct_image">
        </div>

        <div class="form-group">
        <label for="wrong_image_1">Wrong Choice 1 Image</label>
        <input type="file" class="form-control-file" id="wrong_image_1">
        </div>

        <div class="form-group">
        <label for="wrong_image_2">Wrong Choice 2 Image</label>
        <input type="file" class="form-control-file" id="wrong_image_2">
        </div>

        <div class="form-group">
        <label for="wrong_image_3">Wrong Choice 3 Image</label>
        <input type="file" class="form-control-file" id="wrong_image_3">
        </div>

      </div>
    </div>


    <div class="form-group">
    <label for="correct">Correct Answer</label>
    <textarea class="form-control" id="correct" rows="3" name = "correct" placeholder='Correct Answer'></textarea>
    </div>



    <div class="form-group">
    <label for="wrong_1">Distractors</label>
    <textarea class="form-control" id="wrong_1" rows="3" name = "wrong_1" placeholder='Distractor 1'></textarea>
    </div>



    <div class="form-group">
    <!-- <label for="wrong_2">Wrong_2</label> -->
    <textarea class="form-control" id="wrong_2" rows="3" name = "wrong_2" placeholder='Distractor 2'></textarea>
    </div>



    <div class="form-group">
    <!-- <label for="wrong_3">Wrong_3</label> -->
    <textarea class="form-control" id="wrong_3" rows="3" name = "wrong_3" placeholder='Distractor 3'></textarea>
    </div>


    <div class="form-group">
    <label for="solution">Solution</label>
    <textarea class="form-control" id="solution" rows="3" name = "solution" placeholder='Optional'></textarea>
    </div>



    <button type="submit" class="btn btn-primary">Save</button>

{% csrf_token %}
</form>

{% endblock %}
