<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Enrollment</title>
  </head>
  <body>
    <h1>Enrollment: CERTC Online Review</h1>
    <table>
      <ul>
        <li>Name: {last_name}, {first_name}, {middle_name}</li>
        <li>Course: {course}</li>
        <li>Date Graduated: {date_graduated}</li>
        <li>Honors: {honors}</li>
        <li>Officer Position: {officer_position}</li>
        <li>Scholarships: {scholarships}</li>
        <li>Review Status: {review_status}</li>
        <li>Conditional Subject: {conditional_subject}</li>
        <li>Mobile Number: {mobile_number}</li>
        <li>Facebook Username: {facebook_username}</li>
        <li>{student.id_picture.path}</li>
        <li>{student.id_picture.path}</li>
        <li> <img src=" {student.id_picture.path} " alt=""/> </li>
        <li> <img src=" {student.payment_picture.path} " alt=""/> </li>
        <li></li>
      </ul>

    </table>


    <img href="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" alt=""/>
    <img src="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png" alt="Logo" title="Logo" style="display:block" width="200" height="87" />

  </body>
</html>
