{% extends 'main_app/base.html' %}

{% load crispy_forms_tags %}


{% block content %}

{%if danger %}
<div class="alert alert-danger" role="alert">
  {{danger}}
</div>
{%endif%}
{%if message %}
<div class="alert alert-primary" role="alert">
  {{message}}
</div>
{% endif%}

<form method="POST" enctype="multipart/form-data">
<h1>Enrollment Form</h1>
<p>All fields marked with asterisk are  required.</p>

<div class="form-row">
{{form.course | as_crispy_field}}
</div>

<hr class='my-4'>
<h2>Personal Information</h2>
<!-- Name -->
<div class="form-row">
  <div class="form-group col-4">
    <!-- <input type="text" class="form-control" placeholder="First Name" name="first_name"> -->
    {{ form.first_name | as_crispy_field }}
  </div>

  <div class="form-group col-4">
    <!-- <input type="text" class="form-control" placeholder="Last Name" name="last_name"> -->
    {{ form.last_name | as_crispy_field }}

  </div>

  <div class="form-group col-4">
    <!-- <input type="text" class="form-control" placeholder="Middle Name" name="middle_name" placeholder="optional"> -->
    {{ form.middle_name | as_crispy_field }}
  </div>
</div>

<!-- date of birth -->
<div class="form-row">
  <div class="form-group col-2">
    <!-- <input type="number" class="form-control" placeholder="MM" name="month"> -->
    <!-- {{ form.birthdate | as_crispy_field }} -->
    <label for="datepicker">Birthday</label>
    <input id="datepicker" type="text" name="birthdate" class="form-control">
  </div>
</div>


<!-- Address -->
<div class="form-group">
  <!-- <textarea class="form-control" id="address" rows="3" name="address"></textarea> -->
  {{ form.address | as_crispy_field }}
</div>

<div class="form-row">
  <!-- Religion -->
  <div class="form-group col-6">
    <!-- <input type="text" class="form-control" placeholder="optional" name="religion"> -->
    {{ form.religion | as_crispy_field }}
  </div>

  <!-- Mobile NUmber -->
  <div class="form-group col-6">
    <!-- <input type="number" class="form-control" placeholder="09471234567" name="mobile_number"> -->
    {{ form.mobile_number | as_crispy_field }}
  </div>
</div>

<div class="form-group">
  <!-- <input type="text" class="form-control" placeholder="optional" name="facebook_username"> -->
  {{ form.facebook_username | as_crispy_field }}
</div>

<div class="form-row">
  <!-- Gender -->
  <!-- <input type="text" class="form-control" placeholder="optional" name="facebook_username"> -->
  {{ form.gender | as_crispy_field }}
</div>




<!-- EMail address -->
<div class="form-group">
  <!-- <input type="email" class="form-control" placeholder="name@gmail.com" name="email"> -->
  {{ form.email | as_crispy_field }}
</div>

<hr class='my-4'>
<h2>Academic Information</h2>
<!-- SChoold -->
<div class="form-group">
  <!-- <textarea class="form-control" id="school" rows="3" name="school"></textarea> -->
  {{ form.school | as_crispy_field }}
</div>


<!-- date of birth -->
<div class="form-row">
  <div class="form-group col-2">
    <!-- <input type="number" class="form-control" placeholder="MM" name="month"> -->
    <!-- {{ form.birthdate | as_crispy_field }} -->
    <label for="graddatepicker">Date Graduated</label>
    <input id="graddatepicker" type="text" name="date_graduated" class="form-control">
  </div>
</div>

<!-- Honors Received -->
<div class="form-group">
  <!-- <textarea class="form-control" id="honors" rows="3" name="honors"></textarea> -->
  {{form.honors | as_crispy_field}}
</div>

<!-- Officer Position -->
<div class="form-group">
  <!-- <input type="text" class="form-control" placeholder="Office Position" id="officer_position_textbox" name="officer_position" disabled> -->
  {{form.officer_position | as_crispy_field }}
</div>

<!-- Scholarhips -->
<div class="form-group">
  <!-- <textarea class="form-control" id="scholarships" rows="3" name="scholarships"></textarea> -->
  {{form.scholarships | as_crispy_field }}
</div>




<hr class="my-4">
<h2>Contact Person</h2>
<div class="form-row">
  <!-- Contact Person -->
  <div class="form-group col-4">
    <!-- <input type="text" class="form-control" placeholder="First Name" name="first_name_contact_person"> -->
{{form.first_name_contact_person | as_crispy_field}}
  </div>

  <div class="form-group col-4">
    <!-- <input type="text" class="form-control" placeholder="Last Name" name="last_name_contact_person"> -->
{{form.last_name_contact_person | as_crispy_field}}
  </div>

  <div class="form-group col-4">
    <!-- <input type="text" class="form-control" placeholder="Middle Name" name="middle_name_contact_person"> -->
{{form.middle_name_contact_person | as_crispy_field}}
</div>
</div>


<!-- Contact Person adress -->
<div class="form-group">
  <!-- <textarea class="form-control" id="address" rows="3" name="address_contact_person"></textarea> -->
{{form.address_contact_person | as_crispy_field}}
</div>

<!-- contact person nunmber -->
<div class="form-group">
  <!-- <input type="number" class="form-control" placeholder="09471234567" name="mobile_number_contact_person"> -->
{{form.mobile_number_contact_person | as_crispy_field}}
</div>


<div class="g-recaptcha" data-sitekey="6Lc1CO4UAAAAAP64v29D0oS3JZWx7Is6lACu47lI"></div>
<button type="submit" class="btn btn-primary">Submit</button>

  {% csrf_token %}
</form>

<script type="text/javascript">

    $(function () {
      $("#datepicker").datepicker();
    });

    $(function () {
      $("#graddatepicker").datepicker();
    });
</script>

{% endblock %}
