{% extends 'main_app/base.html' %}
{% block content %}
<!-- jquery scriipt -->

{% if available %}
<script src="/static/js/jquery-3.5.0.min.js" type="text/javascript"></script>
<div class="container">

  {%if danger %}
  <div class="alert alert-danger" role="alert">
    {{danger}}
  </div>
  {%endif%}

  {%if message %}
  <div class="alert alert-primary" role="alert">
    {{message}}
  </div>
  {% endif%}

  <h1 class="display-4">Question</h1>
  <p class="lead">{{question | safe}}</p>
  <hr class="my-4">

  {% if image %}
  <div class="container">
    <img src= "{{image.url}}" class="col-lg-6 col-md-12 mx-auto rounded d-block" alt="Question image">
  </div>
  <hr class="my-4">
  {% endif %}

{% for choice_html in choices_html_code %}
  {{choice_html | safe}}
{% endfor %}

<form action="" method="POST">
  <input type="hidden" name="subtopic" value="{{subtopic}}">
  <button type="submit" class="btn btn-primary my-1">Next</button>
  {% csrf_token %}
</form>

<a href ="{%url 'multiple_choice_question_customize'%}" class="btn btn-primary my-1">Topic Select</a>

{% if user.is_staff %}
<a href ="{%url 'multiple_choice_question_delete' pk %}" class="btn btn-danger my-1">Delete</a>
{% endif %}

</div>

<script type="text/javascript">

$('.correct_choice').on('click', function(){
  $(this).removeClass('btn-outline-primary');
  $(this).addClass('btn-success');
  // $('.wrong_choice').removeClass('btn-outline-danger');
  // $('.wrong_choice').addClass('btn-outline-danger');
  $('.wrong_choice').attr('disabled', 'disabled');
})

$('.wrong_choice').on('click', function(){
  $(this).removeClass('btn-outline-primary');
  $(this).addClass('btn-outline-danger');
  $(this).attr('disabled','disabled');
})

</script>
{% endif %}

{% endblock %}
