{% extends 'main_app/base.html' %}
{% block content %}

{%if danger %}
<div class="alert alert-danger" role="alert">
  {{danger}}
</div>
{%endif%}

{%if message%}
<div class="alert alert-primary" role="alert">
  {{message}}
</div>
{%endif%}

  <h1 class="display-4">Report Error</h1>

  <form method="POST" action="{%url 'report_error'%}">

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Describe Error</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
  </div>

  <div class="form-group">
    <label for="exampleFormControlFile1">Screenshot of the Page with Error</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="image" accept="image/*">
  </div>

<div class="g-recaptcha" data-sitekey="6Lc1CO4UAAAAAP64v29D0oS3JZWx7Is6lACu47lI"></div>
{% csrf_token %}

  <input type="submit" name="" value="Send Report">
</form>



{% endblock %}
