{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h2>Student Details:</h2>
<table class="table">
  <tbody>
    <tr>
      <td>Student ID</td>
      <td>{{studentee_details.id}}</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{studentee_details.last_name}}, {{studentee_details.first_name}}, {{studentee_details.middle_name}}</td>
    </tr>
    <tr>
      <td>Birthday</td>
      <td>{{studentee_details.birthdate}}</td>
    </tr>
    <tr>
      <td>Address</td>
      <td>{{studentee_details.address}}</td>
    </tr>
    <tr>
      <td>Religion</td>
      <td>{{studentee_details.religion}}</td>
    </tr>
    <tr>
      <td>Mobile Number</td>
      <td>{{studentee_details.mobile_number}}</td>
    </tr>
    <tr>
      <td>Facebook Username</td>
      <td>{{studentee_details.facebook_username}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{studentee_details.email}}</td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>{{studentee_details.gender}}</td>
    </tr>
    <tr>
      <td>School</td>
      <td>{{studentee_details.school}}</td>
    </tr>
    <tr>
      <td>Date Graduated</td>
      <td>{{studentee_details.date_graduated}}</td>
    </tr>
    <tr>
      <td>Honors</td>
      <td>{{studentee_details.honors}}</td>
    </tr>
    <tr>
      <td>Officer Position</td>
      <td>{{studentee_details.officer_position}}</td>
    </tr>
    <tr>
      <td>Scholarships</td>
      <td>{{studentee_details.scholarships}}</td>
    </tr>
    <tr>
      <td>Contact Person</td>
      <td>{{studentee_details.last_name_contact_person}}, {{studentee_details.first_name_contact_person}}, {{studentee_details.middle_name_contact_person}}</td>
    </tr>

    <tr>
      <td>Contact Person Address</td>
      <td>{{studentee_details.address_contact_person}}</td>
    </tr>

    <tr>
      <td>Contact Person Mobile Number</td>
      <td>{{studentee_details.mobile_number_contact_person}}</td>
    </tr>

    <tr>
      <td>Review Status</td>
      <td>{{studentee_details.review_status}}</td>
    </tr>

    <tr>
      <td>ID Picture</td>
      <td><img src="{{studentee_details.id_picture.url}}" alt="" height="300"></td>
    </tr>

    <tr>
      <td>Proof of Payment</td>
      <td><img src="{{studentee_details.payment_picture.url}}" alt="" height='300'></td>
    </tr>

    <tr>
      <td>Enrolled</td>
      <td>{{studentee_details.enrolled}}</td>
    </tr>

  </tbody>
</table>

  <div class="container">
    <a class='btn btn-warning' href="{% url 'studentsee_app:update' pk=studentee_details.pk %}">Update</a>

  </div>

{% endblock %}
