{% extends "base.html" %}
{% block content %}
<h1 class="display-4">Student Details</h1>


{%if id_picture_url %}
<img src="{{id_picture_url}}" alt="" height="300">
{%else%}
<p>No available ID picture</p>
{%endif%}

<dl class="row">
  <dt class="col-3">Name</dt>
  <dd class="col-9">{{student_details.last_name}}, {{student_details.first_name}}, {{student_details.middle_name}}{%if student_details.user.is_active %}   <span class="badge badge-success">Active</span>{%else%}<span class="badge badge-danger">Inactive</span>{%endif%}</dd>

  <dt class="col-3">Username</dt>
  <dd class="col-9"><a href="{%url 'main_app:user' pk=student_details.user.pk%}">{{student_details.user.username}}</a></dd>

  <dt class="col-3">Email</dt>
  <dd class="col-9">{{student_details.user.email}}</dd>

  <dt class="col-3">Birthday</dt>
  <dd class="col-9">{{student_details.birthdate}}</dd>

  <dt class="col-3">Address</dt>
  <dd class="col-9">{{student_details.address}}</dd>

  <dt class="col-3">Religion</dt>
  <dd class="col-9">{{student_details.religion}}</dd>

  <dt class="col-3">Mobile Number</dt>
  <dd class="col-9">{{student_details.mobile_number}}</dd>

  <dt class="col-3">Facebook</dt>
  <dd class="col-9">{{student_details.facebook_username}}</dd>

  <dt class="col-3">Gender</dt>
  <dd class="col-9">{{student_details.gender}}</dd>

  <dt class="col-3">School</dt>
  <dd class="col-9">{{student_details.school}}</dd>

  <dt class="col-3">Contact Person</dt>
  <dd class="col-9">{{student_details.last_name_contact_person}}, {{student_details.first_name_contact_person}}, {{student_details.middle_name_contact_person}}</dd>

  <dt class="col-3">Contact Person Address</dt>
  <dd class="col-9">{{student_details.address_contact_person}}</dd>

  <dt class="col-3">Contact Person Mobile Number</dt>
  <dd class="col-9">{{student_details.mobile_number_contact_person}}</dd>

  <dt class="col-3">Proof of Payment</dt>
  <dd class="col-9"><img src="{{student_details.payment_picture.url}}" alt="" height='300'></dd>

  <hr>
  <dt class="col-sm-3">Exams Taken</dt>
  <dd class="col-sm-9">
    {%for ticket in tickets %}
      {{ticket}}<br>
    {%endfor%}
  </dd>


</dl>


  <div class="container">
    <a class='btn btn-primary' href="{% url 'students_app_3:list'%}">Back</a>
    <a class='btn btn-warning' href="{% url 'students_app_3:update' pk=student_details.pk %}">Update</a>
    {%if student_details.user.is_active%}
    <a class='btn btn-danger' href="{% url 'students_app_3:deactivate' pk=student_details.pk %}">Deactivate</a>
    {%else%}
    <a class='btn btn-success' href="{% url 'students_app_3:activate' pk=student_details.pk %}">Activate</a>
    {%endif%}

  </div>

{% endblock %}
