{% extends 'base.html' %}
{% block content %}
{% load static%}
<h1 class="display-4 mb-4">Reviewers</h1>

<div class="row row-cols-1 row-cols-lg-3">
  <div class="col mb-4">
    <div class="card">
      <img src="{%static 'reviewers/sirq.JPG'%}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Engr. Jiovanni M. Quiseo</h5>
        Bachelor of Science in Electronics and Communications Engineering, UV<br>
        7th Placer, ECE Board Exam<br>
        Academic Excellence Awardee, UV<br>
        Author of Various Engineering Reviewers<br>
        Former Department Head, ECE Department (UV)<br>
        Master of Science in Management Engineering<br>
        President, CERTC</p>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <img src="{%static 'reviewers/debs.jpg'%}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Engr. Maria Deborah V. Baluran</h5>
        Bachelor of Science in Electronics and Communications Engineering, USEP<br>
        6th Placer, ECE Board Exam<br>
        Academic Excellence Awardee, USEP<br>
        Author, Various Engineering Reviewers<br>
        Awardee, Congressman Prospero Nograles Academic Excellence Award<br>
        Review Director, CERTC</p>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <img src="{%static 'reviewers/seva.jpg'%}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Engr. Rafael D. Seva, Jr.</h5>
        Bachelor of Science in Electrical Engineering, USC<br>
        Masters in Electrical Engineering, USC<br>
        Author, Various Engineering Reviewers<br>
        Reviewer, CERTC</p>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <img src="{%static 'reviewers/leslie2.JPG'%}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Engr. Leslie S. Caminade</h5>
        Bachelor of Science in Electronics and Communications Engineering, CJC<br>
        Academic Excellence Awardee, CJC<br>
        Champion, Project Design Competition Industrial and Biomedical Category - CODEE XI<br>
        Full Stack Web Developer, www.certconlinereview.com - and various other websites<br>
        Operations Manager, CERTC</p>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <img src="{%static 'reviewers/glen.JPG'%}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Engr. Glenn Paul M. Pacete</h5>
        Bachelor of Science in Electronics and Communications Engineering, TUPV<br>
        Outstanding Technician Award 2013<br>
        Reviewer, CERTC</p>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <img src="{%static 'reviewers/lataza.jpg'%}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Engr. Mikhael Glen B. Lataza</h5>
        Bachelor of Science in Electrical Engineering, Summa Cum Laude, USC<br>
        1st Place, REE Board Exam<br>
        Champion, 31st National Quiz Show, 19th IIEE National Student Convention<br>
        Project Manager, Office of the Chairman, Metro Retail Stores Group Inc.<br>
        Reviewer, CERTC</p>
      </div>
    </div>
  </div>

  <div class="col mb-4">
    <div class="card">
      <img src="{%static 'reviewers/naraja.jpg'%}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Engr. John Mikel Naraja</h5>
        Bachelor of Science in Electrical Engineering, CTU-M<br>
        10th Placer, EE Board Exam<br>
        Reviewer, CERTC</p>
      </div>
    </div>
  </div>
</div>

{%endblock%}
