{% extends "base.html" %}
{% block content %}
<h1 class="display-4">List of ECE Students</h1>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">First</th>
          <th scope="col">Middle</th>
          <th scope="col">Last</th>
          <th scope="col">School</th>
          <th scope="col">Details</th>
          <th scope="col">Flags</th>
        </tr>
      </thead>
      <tbody>

        {% for student in student_list %}
        <tr>
          <th scope="row">{{student.id}}</th>
          <td>{{student.first_name}}</td>
          <td>{{student.middle_name}}</td>
          <td>{{student.last_name}}</td>
          <td>{{student.school}}</td>
          <td><a href="{%url 'students_app_1:detail' pk=student.pk%}" class="btn btn-primary">Details</a></td>
          <td>

            {%if student.user.is_active %}<span class="badge badge-success">Active</span>{%else%}<span class="badge badge-danger">Inactive</span>{%endif%}
            {%if student.is_premium %}<span class="badge badge-warning">Premium</span>{%endif%}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
