{% extends "base.html" %}
{% block content %}
<h1 class="display-4">Student Details</h1>


<table class="table table-bordered">
  <tbody>
    <tr>
      <td>Student ID</td>
      <td>{{student_details.id}}</td>
    </tr>
    <tr>
      <td>Name</td>
      <td>{{student_details.last_name}}, {{student_details.first_name}}, {{student_details.middle_name}}</td>
    </tr>
    <tr>
      <td>Birthday</td>
      <td>{{student_details.birthdate}}</td>
    </tr>
    <tr>
      <td>Address</td>
      <td>{{student_details.address}}</td>
    </tr>
    <tr>
      <td>Religion</td>
      <td>{{student_details.religion}}</td>
    </tr>
    <tr>
      <td>Mobile Number</td>
      <td>{{student_details.mobile_number}}</td>
    </tr>
    <tr>
      <td>Facebook Username</td>
      <td>{{student_details.facebook_username}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{student_details.email}}</td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>{{student_details.gender}}</td>
    </tr>
    <tr>
      <td>School</td>
      <td>{{student_details.school}}</td>
    </tr>
    <tr>
      <td>Date Graduated</td>
      <td>{{student_details.date_graduated}}</td>
    </tr>
    <tr>
      <td>Honors</td>
      <td>{{student_details.honors}}</td>
    </tr>
    <tr>
      <td>Officer Position</td>
      <td>{{student_details.officer_position}}</td>
    </tr>
    <tr>
      <td>Scholarships</td>
      <td>{{student_details.scholarships}}</td>
    </tr>
    <tr>
      <td>Contact Person</td>
      <td>{{student_details.last_name_contact_person}}, {{student_details.first_name_contact_person}}, {{student_details.middle_name_contact_person}}</td>
    </tr>

    <tr>
      <td>Contact Person Address</td>
      <td>{{student_details.address_contact_person}}</td>
    </tr>

    <tr>
      <td>Contact Person Mobile Number</td>
      <td>{{student_details.mobile_number_contact_person}}</td>
    </tr>

    <tr>
      <td>Review Status</td>
      <td>{{student_details.review_status}}</td>
    </tr>

    <tr>
      <td>Conditional Subject</td>
      <td>{{student_details.conditional_subject}}</td>
    </tr>

    <tr>
      <td>ID Picture</td>
      {%if student_details.id_picture%}
      <td><img src="{{student_details.id_picture.url}}" alt="" height="300"></td>
      {%endif%}
    </tr>

    <tr>
      <td>Proof of Payment</td>
      {%if student_details.payment_picture%}
      <td><img src="{{student_details.payment_picture.url}}" alt="" height='300'></td>
      {%endif%}

    </tr>

    <tr>
      <td>Enrolled</td>
      <td>{%if student.is_enrolled %}<span class="badge badge-success">Enrolled</span>{%else%}<span class="badge badge-danger">Not Enrolled</span>{%endif%}</td>
    </tr>

  </tbody>
</table>

  <div class="container">
    <a class='btn btn-primary' href="{% url 'students_app_1:list'%}">Back</a>
    <a class='btn btn-warning' href="{% url 'students_app_1:update' pk=student_details.pk %}">Update</a>
    <a class='btn btn-danger' href="{% url 'students_app_1:delete' pk=student_details.pk %}">Delete</a>
  </div>

{% endblock %}
